body
{     
margin:0px;
}

#main
{
    position:fixed;
    display:block;
    min-height:100%;
    min-width:100%;
    top:0%;
    background-color:rgba(0,0,0,0.8);
} 

.heading
{
    font-family: serif;
    text-align: center;
    margin-top:8%;
    color:rgba(0,0,0,0.5);
    display:block;
    letter-spacing:.2em;
}

#heading
{
    font-family: serif;
    text-align: center;
    margin-top:8%;
    color:white;
    display:block;
    letter-spacing: .2em;
    
}

#lin
{
    background-color:white;
    border:1px solid black;
    border-radius:15px;
    position:fixed;
    min-width:40%;
    min-height:10%;
    top:32%;
    left:30%;
    display:block;
    font-family:serif;
    font-weight:bold;
}

#rad
{
    background-color:white;
    border:1px solid black;
    border-radius:15px;
    position:fixed;
    min-width:40%;
    min-height:10%;
    top:45%;
    left:30%;
    display:block;
    font-family:serif;
    font-weight:bold;
}

#h
{
    background-color:white;
    border:1px solid black;
    border-radius:15px;
    position:fixed;
    min-width:40%;
    min-height:10%;
    max-height:10%;
    top:58%;
    left:30%;
    display:block;
    font-family:serif;
    font-weight:bold;
}

#help
{
    position:fixed;
    display:none;
    background:linear-gradient(to right, rgb(255,0,0) , rgb(255,0,255));
    min-height:100%;
    min-width:100%;
    color:white;
    letter-spacing:.001em;
    font-family:serif;
    font-weight:bold;
}

h3 
{
font-family:serif;
font-weight:bold;
color: rgba(0,0,0,.5);
text-align: center; 
text-transform: none; 
letter-spacing: 0.01em;
position:fixed; 
top:40%;    
}

.inp1
{
    position:fixed;
    top:20%;
    left:15%;
    min-width:15%;
    min-height:5%;
}

.inp2
{
    position:fixed;
    top:20%;
    right:15%;
    min-width:15%;
    min-height:5%;
}

#linear
{
    display:none;
}

#radial
{
    position:fixed;
    display:none;
    min-height:100%;
    min-width:100%;
    top:0%;
}

#text
{
    font-family:serif;
    font-weight:bold;
    color:white;
    letter-spacing:.1em;
    display:block;
    padding:10px;
}

#back
{
    position:fixed;
    border-radius:15px;
    border:1.5px solid black;  
    opacity:.5;
    min-width:36%;
    min-height:8%;
    bottom:10%;
    left:32%;
    background-color:white;
    font-family:serif;
    font-weight:bolder;
    font-size:1.2em;
}

#content
{
    position:fixed;
    height:55%;
    letter-spacing:0.01em;
    word-spacing:0.2em;
    min-width:95%;
    left:1.2%;
    top:18%;
    padding-left:2%;
    padding-top:1.5%;
    border-radius:25px;
    border:1.5px solid white;
    overflow:scroll;
}

.sm_h
{
    font-weight:bold;
    font-size:1.2em;
    color: yellow;
}